// vendor styles
@import "bootstrap";
@import "jquery-ui";
@import "jquery-ui-1.10.3.custom.min";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "bootstrap-multiselect";
@import "jquery-ui-timepicker-addon";

// application styles
@import "base";
@import "settings";
@import "footer";
@import "icons";
@import "coderay";
@import "comments";
@import "dashboard";
@import "events";
@import "notification";
@import "participant-invitations";
@import "proposal";
@import "session";
@import "social-buttons";
@import "speaker";
@import "badge";

.navbar-inverse{
  background-color: #FF615C;
  border-color: #FF615C;
  box-shadow: 0 0 0.7em #762226;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
}

.navbar > .container .navbar-brand {
  color: white;
}

.navbar{
  height: 66ppx;
}


.navbar-brand {
  float: none;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
